p{
    float: right;
    margin: 1px 0 2px;
}
/* .thead-dark{
    color:#fff;
    background-color: black;
} */

@media screen and  (max-width:992px) and (min-width:374px)
{
    table{
        flex-wrap: wrap;
        flex:100%;
    }
}